.App {
  position: relative;
}

.container-m {
  padding-left: 2rem;
  padding-right: 2rem;
}

.contained-m {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (min-width : 800px) {

  .container-d {

  }

  .contained-d {
    margin-left: 20vw;
    margin-right: 20vw;
  }

}

.hidden {
  display: none;
}

.rounded {
  border-radius: 5px;
}

.shadow {
  -webkit-box-shadow: 0px 7px 15px 3px rgba(230,230,230,0.56);
  -moz-box-shadow: 0px 7px 15px 3px rgba(230,230,230,0.56);
  box-shadow: 0px 7px 15px 3px rgba(230,230,230,0.56);
}
