html {
  background-color: #E5B8F9;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: white;
}

#root {
  /*min-height: 100vh;*/
  position: relative;
}

a {
  text-decoration: none;
  outline: none !important;
}
