.AuthorCard {
  border: 1px solid rgba(230,230,230,0.8);
  border-radius:5px;
  background-color: white;
  margin-top: -3rem;
  width: 80vw;
  min-width: 240px;
  max-width: 450px;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorCardPic {
 width: 3.8rem;
 height: 3.8rem;
 border: 1px solid rgba(230,230,230,0.8);
 background-repeat: no-repeat;
 background-size: cover;
 background-origin: border-box;
 background-position: 50% 50%;
 border-radius: 100%;
 margin-right: 3.5rem;
}

.authorCardInfo > h3 {
 margin: auto;
 margin-bottom: 0.5rem;
 color: #78909C;
}

.authorCardInfo > h4 {
margin: auto;
font-size: 13px;
color: rgba(185,185,185, 1);
}
