.Header {
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}

.headerContainer {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
}

.Icon {
  z-index: 3;
}

.location {
  margin-left: -3rem;
  width: 100%;
  display: flex;
}

.page {
  margin: auto;
  font-weight: 900;
  color: #95989A;
}
