.Header {
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: fixed;
}

.Header > div {
  display: flex;
  align-items: center;
}

.brandContainer {
  width: 100%;
  text-align: center;
}

.brandTitle {
  color: rgba(157, 41, 206, 1);
  margin: 0.8rem 0;
}
