@media only screen and (min-width : 800px) {

  .Header {
    display: block;
    height: 3rem;
  }

  .navContainer {
    height: 3rem;
    width: auto;
  }

  .brandContainer {
    width: initial;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .brandTitle {
    white-space: nowrap;
    margin: auto;
    padding: 0 2vw;
  }

}
