.Icon {
  width: 3rem;
  /*height: 3rem;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Icon .bar:nth-child(2) {
  margin: 6px 0 6px 0;
  width: 65%;
}

.bar {
  border-radius: 100px;
  height: 7px;
  background-color: #95989A;
}
