.Footer {
  background-color: #4C4D3E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  margin-top: 2rem;
}

.footLink {
  font-size: 14px;
  margin-right: 8px;
  color: #81826D;
  text-decoration: none;
}
