.ArticleEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleTitle {
  text-align: left;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ArticleEditor textarea {
  font-family: 'Lato';
  border: none;
}

.ArticleEditor textarea:focus {
    background-color: yellow;
}

.articleTitleInput {
  width: 100%;
  resize: none;
  color: teal;
  font-size: 2em;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.articleCover {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: 50% 50%;
  width: 100vw;
  height: 15rem;
}

.articleText {
  font-size: 18px;
  line-height: 28px;
  color: rgba(69, 88, 98, 0.8);
}

.articleTextInput {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: rgba(69, 88, 98, 0.8);
}

.articleImg {
  width: 100%;
}
