.ArticleEditor {
  position: relative;
}

.articleBody {
  padding-top: 40px;
}

.editorClass {
   font-size: 3rem;
   color: blue;
}

.public-DraftEditorPlaceholder-root {
  font-size: 3rem;
}
