.EditBar {
  z-index: 2;
  /*height: 35px;*/
  width: 100%;
  background-color: lightgray;
  position: fixed;
  display: flex;
}

button {
  outline: none;
  cursor: pointer;
  font-family: Georgia !important;
  height: 2rem;
  min-width: 2rem;
  border: none;
  margin: 5pt 0;
  background-color: lightgray;
}

.selected {
  background-color: #DDDDDD;
}
